- content_for :head do
  %title= "Thank You"
  = stylesheet_link_tag 'pages'
  
#inner_page
  %article.main_content
    .feature.large
      %h1.title Thank You!
      %p.description Thank you for contacting us. One of our associates will contact you soon.