.sidebar_list
  %h2 We're a part of Gables
  %p.subtitle One company, working together to create extraordinary communities, that provides outstanding service and value to their residents and partners.
  %ol
    %li= link_to 'Corporate Overview',  page_url('company', 'corporate_overview', :subdomain => false)
    %li= link_to 'Green Initiatives',  page_url('life', 'green_initiatives', :subdomain => false)
    %li= link_to 'Careers',  page_url('careers', 'careers_overview', :subdomain => false)