@import 'mobile/base/colors';

body {
  padding-top: 57px;
}

a {
  text-decoration: none;
  color: $link-green;
  &:visited {
    color: $link-green;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  li {
    list-style: none;
  }
}

p {
  line-height: 1.3em;
  margin: 0 0 10px 0;
}

hr {

  border: none;
  border-top: 1px solid $light-gray;
  margin: 20px 10px 25px 10px;
}

h2 {
  font-size: 1.5em;
}
h4{
  font-family: CenturyGothicBold, Arial;
  margin: 10px 0 5px 0;
}

.hidden{
	display: none !important;
}
