$white: #fff;
$black: #000;
$black-opacity: rgba(0, 0, 0, .5);

$darkest-gray: #333333;
$dark-gray: #777777;
$gray: #999999;
$light-gray: #dadada;
$lighter-gray: #e6e6e6;
$lightest-gray: #f6f6f6;

$field-border: #c0c0c0;
$field-background:#f9f9f9;

$header-search-form:#e2e2e2;
$turquoise: #5A9CD6;

$link-green: #3f5d1a;
$header-green: #5b8726;
$nav-accordion-primary-green: #e5ebe1;
$nav-accordion-primary-green-dark: #e0e6dd;
$nav-accordion-primary-green-border-top: #ebf2e8;
$nav-accordion-primary-green-border-bottom:#c7cdc5;
$nav-accordion-secondary: #eeeeee;
$nav-accordion-border: #dddddd;

$social-twitter: #0092C1;
$social-facebook: #36528A;
$social-pinterest: #BE060C;
$social-google: #F90101;