// variables
$body_font: Arial, 'Helvetica Neue', sans-serif;
$body_color: #828282;
$header_font: 'Century Gothic', 'Trebuchet MS', 'Helvetica Neue', sans-serif;
$header_color: #333;
$secondary_font: 'Trebuchet MS', Helvetica, Arial, sans-serif;
$base_font_size: 14px;
$brand_color: #5C8727;
$trans_black: rgba(0, 0, 0, 0.75);
$error_color: #990000;

// section colors
$find_color: #999;
$life_color: #569FD3;
$company_color: $brand_color;
$careers_color: #00467F;