.brochures
  %ul
    - unless @property.full_brochure_url.blank? && @property.short_brochure_url.blank? && @property.resident_brochure_url.blank?
      %li Brochures:
    - if @property.full_brochure.url
      %li.brochure= link_to 'Floorplans', @property.full_brochure.url
    - if @property.short_brochure.url
      %li.brochure= link_to 'Community', @property.short_brochure.url
    - if @property.resident_brochure.url
      %li.brochure= link_to 'For Residents', @property.resident_brochure.url