/* Gather & Return Licenses styles
----------------------------------- */

#return-licenses {
  #content {
    padding-top: 60px;
  }
  .table-wrap {
    margin-top: 10px;
  }
  td {
    padding: 15px;
    font-size: 17px;
    color: #666;
  }
}