- content_for :head do
  = stylesheet_link_tag 'pages'

- content_for :marquee do
  #marquee.inner
    .wrapper
      .item

          
#inner_page
  %article.main_content
    Main Content
  
  %aside.sub_content
    Sub Content