
- content_for :head do
  %title Equal Employment Opportunities
  = stylesheet_link_tag 'pages'
  
- content_for :marquee do
  #marquee.inner
    .wrapper
      .item
        =image_tag 'careers-header.jpg', :alt => ''

#inner_page
  %article.main_content
    .border
      .feature.large
        %h2#equal_opportunity.title Equal Employment Opportunities

      %p Gables Residential provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, gender, sexual orientation, national origin, age, disability, genetic information, marital status, , or status as a veteran in accordance with applicable federal, state and local laws. Gables Residential complies with applicable state and local laws governing non-discrimination in employment in every location in which the company has facilities. This policy applies to all terms and conditions of employment, including, but not limited to, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation, and training.

      %p Gables Residential expressly prohibits any form of unlawful employee harassment based on race, color, religion, gender, sexual orientation, national origin, age, genetic information, marital status, disability, or veteran status. Improper interference with the ability of Gables' employees to perform their expected job duties is absolutely not tolerated.
    
    .feature.large
      %h2#fair_housing.title Fair Housing and ADA
    %p Gables is pledged to the letter and spirit of U. S. policy for the achievement of equal housing opportunity throughout the nation.  Gables operates in accordance with the Fair Housing Act (the Civil Rights Act or 1968, as amended by the Fair Housing Amendments Act of 1988), the Americans with Disabilities Act as well as all applicable local and state laws regarding fair housing and equal opportunity.

    %p It is our goal to provide equal opportunity housing to all persons, and we do not discriminate based on race, color, national origin, religion, sex, veteran status, disability or familial status. We provide periodic training for all of our employees who oversee rentals to ensure compliance.  For many years Gables has worked with design professionals to assure that its apartment homes provide accessibility. This will continue to be accomplished in our training, education, “best practice” guidance, compliance testing and accessibility resources for future developments. We are committed to providing fair housing to its residents with disabilities and to provide reasonable accommodations to persons with disabilities.We encourage and support an affirmative advertising and marketing program. Gables will not make, print, or publish, or cause to be made, printed or published, any notice, statement, or advertisement, with respect to the sale or rental of a dwelling that indicates any preference, limitation, or discrimination based on race, color, religion, sex, disability, familial status, or national origin, or an intention to make any such preference, limitation, or discrimination. To help accomplish this commitment Gables:
    
    %p Gables Residential will not knowingly advertise real estate in any manner that violates the law. All persons are hereby informed that all dwellings advertised on this website are available on an equal opportunity basis.
