- content_for :head do
  %title Privacy Policy
  = stylesheet_link_tag 'pages'
  
- content_for :marquee do
  #marquee.inner
    .wrapper
      .item
        =image_tag 'company-header.jpg', :alt => ''

#inner_page
  %article.main_content
    .feature.large
      %h2.title Privacy Policy
      %p.description Terms of Use

    .feature
      %h3.title Use of Copyrighted Materials/Trademarks

      %p Any materials on the Website, including without limitation any documentation, content, text, data, graphics, images, video and audio clips, interfaces or other materials, information or works of authorship are copyrighted materials (i) owned by Gables Residential (collectively, the “Materials”) or (ii) provided by third party licensors and suppliers to Gables Residential (collectively, the “Third Party Content”). All rights not expressly granted in and to the Website, the Materials and the Third Party Content are reserved to their respective owners, subject to copyright and other intellectual property rights under United States and foreign laws and international conventions. You agree to abide by all copyright notices and trademark, information and other restrictions in connection with the Website, including without limitation any Materials and Third Party Content therein. 

      %p The Materials contain trademarks, service marks and trade names, which are owned by Gables and its affiliates. Except as otherwise noted in the Website, you are hereby authorized to view, download, cache, copy and print the Materials solely for your personal, non-commercial use and not for resale or further distribution, retransmission, subject to the following conditions: 

      %ol.description
        %li Any copy of the Materials or portion thereof must include all copyright notices appearing on the original.
        %li Gables Residential reserves the right to revoke such authorization at any time, and any such use by you shall be discontinued immediately upon notice from Gables Residential. 

      %p The Third Party Content may also contain brand and product names, which are trademarks, service marks or trade names of third parties, which are the property of their respective owners. Unless you have permission from the owner of the Third Party Content, you agree only to display the Third Party Content on your personal computer solely for your personal or internal business use. You acknowledge and agree that you have no right to download, cache, reproduce, modify, distribute, display (except as set forth in this paragraph), edit, alter or enhance any of the Third Party Content in any manner unless you have permission from the owner of the Third Party Content. You acknowledge and agree that the Third Party Content does not reflect the views of Gables Residential and that Gables Residential is not responsible for any views, ideas, positions, materials and the like contained in any Third Party Content. 

      %p Nothing contained in the Website shall be construed as conferring any license or right under any copyright, trade secret, patent, trademark or other intellectual property rights (“IP Rights”) of Gables Residential, its affiliates, or any third party, and, except as expressly provided herein, all such IP Rights in the Materials and Third Party Content on the Website are expressly reserved to Gables Residential, its affiliates, and/or any third party, as applicable. Without limiting the generality of the foregoing, unless you have the express prior written consent of Gables Residential or written permission from a third party with respect to such party’s Third Party Content, you may not (i) distribute the Website, or any portion thereof or content (including without limitation Materials and Third Party Content) of any kind included therein, in any medium, (ii) modify the Website, or any portion thereof, (iii) access the Materials and Third Party Content through any technology or means other than those provided on the Website itself, (iv) use the Website, or any portion thereof or content of any kind included therein, in any medium, for any commercial use, or (v) transmit, broadcast, display, sell, license or otherwise exploit the Website (including without limitation Materials and Third Party Content) for any other purpose whatsoever without the prior written consent of the respective owners.

      %p You are granted a limited, nonexclusive right to create a "hypertext" link to the Website provided that such link is to the entry or home page of this Website and does not portray Gables Residential or any of its products or services in a false, misleading, derogatory, or otherwise defamatory manner. This limited right may be revoked by Gables Residential at any time for any reason whatsoever. You may not use, frame, or utilize framing techniques to enclose any Gables Residential trademark, logo or trade name or other proprietary information including the Materials found at or on the Website, the content of any text or the layout/design of any page of the Website or any form contained on a page of the Website without the express prior written consent of Gables Residential in each instance. In addition, you may not use any meta-tags or any other "hidden text" utilizing a Gables Residential or Gables Residential affiliate name, trademark, or product name without Gables Residential express written consent in each instance.

      %h3.title Links to Third Party Websites

      %p The Website may be linked to other websites on the World Wide Web or Internet that are not affiliated with, under the control of, or otherwise maintained by Gables Residential. If you use these links, you may leave the Website. Gables Residential has not reviewed any of these third party sites and does not control and is not responsible for any of these sites or their content. Gables Residential does not endorse any opinion, recommendation or advice expressed therein or make any representations about third party sites, their usefulness, safety or intellectual property rights of or relating to such content, or any information or other products, services or materials found there, or any results that may be obtained from using them, and Gables Residential expressly disclaims any and all liability in connection with such third party sites. You understand and acknowledge that you may be exposed to content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive and hereby do waive, any legal or equitable rights or remedies you have or may have against Gables Residential in connection therewith. You further understand and acknowledge if you decide to access any of the third party sites linked to the Website, you do so entirely at your own risk. 

      %h3.title Noninterference

      %p You shall not circumvent, disable or otherwise interfere with security-related features of the Website or features that filterCitiesByState or restrict use or copying of any Materials and/or Third Party Content or enforce limitations on use of the Website or any such content therein.
