#tumblr_feed.blog
  %h2 Blog
  .social_links
    %p Follow Us
    %ul
      %li.tumblr= link_to 'Twitter', 'http://twitter.com/gables', :rel => 'external'
      %li.facebook= link_to 'Facebook', 'http://www.facebook.com/gablesresidential', :rel => 'external'
  .hfeed
  %p.blog_link= link_to 'More from the blog', 'http://blog.gables.com/'