@import 'bourbon';
@import 'mobile/base/colors.css.scss';

.button, a.button{
  text-align:center;
  border: none;
  border-radius: 0;
  color: $white;
  background-color: $header-green;
  width:100%;
  display:block;
  padding: 10px;
  margin: 10px 0 10px 0;
  i{
    font-size:1.5em;
    vertical-align:middle;
  }
  span{
    vertical-align: middle;
    margin-left: 5px;
  }
}