.goog-te-gadget {
  font-family: "century gothic", arial, sans-serif;
  color: #000;
  border: none;
}

.goog-te-menu-value span {
  color: transparent;
  font-size: 14px;
}

.goog-te-gadget-simple {
  background-color: transparent;
  height: 21px;
  width: 96px;
  border: none;
}

.goog-te-gadget-simple a.goog-te-menu-value
.goog-te-gadget img {
  display: none;
}

.goog-te-gadget-icon {
  display: none !important;
}

.goog-te-banner-frame {
  top: auto;
  bottom: 0px;
}

.goog-te-menu-value {
  display: none !important;
}
