.toggle{
  font-size: 1.3em;
  padding: 0 10px 0 10px;
  width: 100%;
  position:relative;
  &.off:after{
    position:absolute;
    top: 3px;
    right:10px;
    font-family: 'gables-icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content:"\e035";
  }
  &.on:after{
    position:absolute;
    top: 3px;
    right:10px;
    font-family: 'gables-icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e032";
  }
}