%aside.sub_content
  .sibling_page
    %h2 Community Oriented
    %p= link_to 'Community Service at Gables', '/life/p/community_service'
  .sibling_page
    %h2 Environmental Focus
    %p= link_to 'Green Initiatives at Gables', '/life/p/green_initiatives'
  = render :partial => '/shared/blog_sidebar'