#marquee.inner
  .wrapper
    .item
      =image_tag 'news-header.jpg', :alt => ''
      .description_wrapper
        .description
          %h1 News &amp; Awards
          %p Achievements. Awards. Accolades.